<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leegunmin.agoto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".MaintoOther.MyUnit" />
        <activity android:name=".MaintoOther.Like" />
        <activity android:name=".MaintoOther.Information" />
        <activity android:name=".MaintoOther.Weather" />
        <activity android:name=".MaintoOther.Turn" />
        <activity android:name=".MaintoOther.TheOthers" />
        <activity android:name=".MaintoOther.information.term" />
        <activity android:name=".MaintoOther.information.showterm"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"></activity>
    </application>

</manifest>